<?xml version="1.0"?>
<robot name="gld_robot_description">

  <link name="base_footprint" />
  <link name="chassis" />

  <link name="livox_frame" />




  <!-- 底盘高度 -->
  <joint name="base_to_chassis" type="fixed">
    <parent link="base_footprint"/>
    <child link="chassis"/>
    <origin xyz="0.0 0.0 0.12" rpy="0 0 0"/>
  </joint>

  <!-- livox_frame (弧度制) -->
  <joint name="chassis_to_livox_frame" type="fixed">
    <parent link="chassis"/>
    <child link="livox_frame"/>
    <origin xyz="0.35 0.0 0.18" rpy="0 0 0"/>
  </joint>




</robot>